

.col-md-6 {
    left: 27em;
    box-shadow: whitesmoke;
    border: 1px solid #2e2b2b85;
    padding: 10px;
    box-shadow: 11px 10px 10px 10px ghostwhite;
    box-shadow: 1px 11px 29px 9px #2e2b2b85;
    top: 5em;
}